#container {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    padding: 10px;
}

.containerBox{
    height: 240px;
    background-color: #c55;
    margin: 20px 0;
    width: 40%;
    color: #fff;
    font-size: 50px;
    text-align: center;
    border-radius: 25%;
    padding: 20px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerBox:last-child{
    width: 90%;
    margin-top: 10px;
}

.containerBox p{
    display: inline-block;
    vertical-align: middle;
}

.containerBox:hover{
    background-color: #a33;
}



@media screen and (max-width: 700px){
    .containerBox{
        width: 80%;
        padding: 40px;
        margin: 10px;
        height: 100px;
        font-size: 30px;
    }
    
    .containerBox:last-child{
        width: 80%;
    }
}

