<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
            @RenderBody()            
            <footer>
                <p><a target="_blank" href="#">&copy; 2018 - Multiflexers Corp.</a></p>
            </footer>
</body>
</html>